@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@300;400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@300;400;700&family=Noto+Sans:wght@300;400;600&family=Open+Sans:wght@400;700&family=Roboto:wght@100&display=swap');


:root {
    --font-principal: "Inter";
    --font-secundaria: "Noto Sans";
    --font-elegante: "Delicious Handrawn";
    --espacamento-pequeno: 0.5rem;
    --espacamento-medio: 1rem;
    --espacamento-grande: 2rem;
    --cor-branca: white;
}